.pic1{
    width:13%;
    height: 13%;
  }
  
  .button1{
    border-radius: 16px;
    height: 35px;
    width: 115px;
    background-color: white;
    color: #F806CC;
    border: 2px solid #F806CC;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #F806CC;
  }
  
  .button1:hover {
    background-color: #F806CC;
    color: white;
  }
  
  .heading{
    justify-content: space-between;display: flex;flex-direction: row;
    margin: 40px 30px 10px 30px;
  }
  
  .type2{
    position: absolute; top: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .type{
    font-size: 35px;
  }
  .wordings{
    text-align: center;
    font-size: 23px;
    width: 45%;
  }
  
  .button2 {
    margin-top: 30px;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width: 250px;
    background-color: #F806CC;
    color: white;
    border: 2px solid #F806CC;
    text-align: center;
    font-size: 19px;
  
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .type3{
   width: 100%; height: 1500px; position: relative;
  }
  .pic2{
    object-fit: cover;width : 750px; height: 550px; position: relative; top:90px; left: 20%;
  }
  
  .type4{
    justify-content:space-around;display: flex;flex-direction: row; position: relative; top: 200px; left: 40px;
  }
  
  .pic3{
    width:50px; height: 50px;
  }
  
  .pic4{
    width:50px; height: 50px;
  }
  
  .communities{position: relative; width:400px; height: 400px;}
  .msg1{
    font-family: sans-serif; font-size: 70px; position: relative; right: 57px; bottom:50px;
  }
  
  .msg2{
    position: relative; right: 53px; bottom: 90px;  font-family: serif; font-size: 20px;
  }
  .messages{position: relative; width:400px; height: 400px;}
  .msg3{
    font-family: sans-serif; font-size: 70px; position: relative; right: 55px; bottom:50px;
  }
  
  .msg4{
    position: relative; right: 30px; bottom: 90px;  font-family: serif; font-size: 20px;
  }
  
  .curved1{
    display:block; position: relative; top: 10px;
  }
  .msg5{
    position: relative; bottom: 10px;font-size: 35px; font-family: sans-serif;
  }
  
  .msg6{
    position: relative; bottom: 10px;font-size: 23px;
    width: 60%;
  }
  
  .pic5{
    object-fit: cover;width : 350px; height: 350px; position: relative; bottom: 90px; right: 100px;
  }
  
  .type5{
    justify-content:space-around;display: flex;flex-direction: row; background-color:#E7FAFF; height: 180px;
  }
  
  .grow{
    position: relative; left:100px;
  }
  
  .type6{
    justify-content:space-around;display: flex;flex-direction: row; position: relative; top: 150px;
  }
  
  .msg7{
    position: relative; bottom: 10px;font-size: 35px; font-family: sans-serif; left: 300px;
  }
  
  .msg8{
    position: relative; bottom: 10px;font-size: 23px; left: 300px;
    width: 60%;
  }
  
  .pic6{
    object-fit: cover;width : 350px; height: 350px; position: relative; bottom: 90px; left: 100px;
  }
  
  .msg9{
    position: relative; top: 130px;font-size: 35px; font-family: sans-serif;
  }
  
  .msg10{
    position: relative; top: 130px;font-size: 23px;
    width: 60%;
  }
  
  .pic7{
    object-fit: cover;width : 350px; height: 350px; position: relative; top: 50px; right: 100px;
  }
  
  .type7{
    justify-content:space-around;display: flex;flex-direction: row; background-color: #E9F8F9; height: 300px;
  }
  
  .users{
    position: relative; left:100px;
  }
  
  .curved3{
    position: relative; top:200px;
  }
  
  .type8{
    position: relative; left: 450px; top: 50px;
  }
  
  .blabla{
    font-size: 35px;
  }
  
  .button3 {
    margin-top: 30px;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 30px;
    height: 50px;
    width: 250px;
    background-color: #F806CC;
    color: white;
    border: 2px solid #F806CC;
    text-align: center;
    font-size: 19px;
    position: relative; left:110px; bottom: 30px;
  
  }
  
  .button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .type9{
    justify-content:space-around;display: flex;flex-direction: row; background-color: #205E61; height: 400px; position: relative; bottom: 40px; color: white;
  }
  
  .l1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .pic9{
    object-fit: cover;width : 20px; height: 20px; position: relative; right: 60px; bottom: 70px;
  }
  
  .pic10{
    object-fit: cover;width : 20px; height:20px; position: relative; right: 70px; bottom: 110px;
  }
  
  .phone{
    justify-content:space-around;display: flex;flex-direction: row; width: 50px;
  }
  
  .line1{
    width: 40%; position: relative; left: 40px;font-family: sans-serif;bottom: 50px;
  }
  .line2{
    width: 40%; position: relative; left: 200px; font-family: sans-serif;;
  }
  .line3{ position: relative; right:50px; width: 50px; bottom: 85px;}
  .line4{position: relative; right:40px; width: 50px; bottom: 150px;}
  .line5{position: relative; left: 200px; font-size: 23px; font-family: cursive;}
  
  .subscribe{
    justify-content:space-around;display: flex;flex-direction: row;
  }
  
  .button4{
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    background-color: #F806CC;
    color: white;
    border: 2px solid #F806CC;
    text-align: center;
    font-size: 16px;
    position: relative; right:40px;
  }
  
  .box{
    position: relative; left: 110px;
  }
  
  .huddle{
    position: relative; font-size: 25px; font-family: cursive; bottom:10px; right: 40px; ;
  }
  
  .xx1{
    position: relative; bottom:30px;
  }
  .type10{
    justify-content: space-around;display: flex;flex-direction: row; position: relative; bottom: 150px;
  }
  .facebook{position: relative; height: 20px; width: 20px; left: 30px;}
  .insta{position: relative; height: 20px; width: 20px; right:320px;}
  .twitter{position: relative; height: 20px; width: 20px; right: 770px;}
  
  
  